# Copy file này thành keystore.properties và điền thông tin keystore
# File keystore.properties đã được gitignore, không commit lên git

KEYSTORE_FILE=../jellyplex-release.jks
KEYSTORE_PASSWORD=your_keystore_password
KEY_ALIAS=jellyplex
KEY_PASSWORD=your_key_password
